<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cl.fun.gag.pic.dao.UserRoleDao" >
    <insert id="insert" parameterType="com.cl.fun.gag.pic.entity.sql.UserRoleRelationShip">
        insert into ums_admin_role_relation (
          admin_id,role_id
        )
        values
        (#{adminId},#{roleId})
    </insert>
</mapper>
